*dependency-reduced-pom.xml
.classpath
.project
.settings/
target/
devenv
*.log.*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
localbin
nohup.out
bazel-out
bazel-bin
bazel-rocketmq
bazel-testlogs
.vscode
MODULE.bazel.lock
/auth/.flattened-pom.xml
/broker/.flattened-pom.xml
/client/.flattened-pom.xml
/common/.flattened-pom.xml
/container/.flattened-pom.xml
/controller/.flattened-pom.xml
/distribution/.flattened-pom.xml
/example/.flattened-pom.xml
/filter/.flattened-pom.xml
/namesrv/.flattened-pom.xml
/openmessaging/.flattened-pom.xml
/proxy/.flattened-pom.xml
/remoting/.flattened-pom.xml
/srvutil/.flattened-pom.xml
/store/.flattened-pom.xml
/test/.flattened-pom.xml
/tieredstore/.flattened-pom.xml
/tools/.flattened-pom.xml
/.flattened-pom.xml
